{{template "base" .}} {{define "title"}} Profile page {{end}} {{define "main"}}
<h1>{{.User.Username}}'s profile</h1>
<content>
  <h2>Email: {{ .User.Email }}</h2>
  <h2>Username: {{ .User.Username }}</h2>
</content>
<br>
<h2>Show: <a href="user?id={{.User.ID}}&filter=liked">Posts liked by {{.User.Username}}</a><span> or </span><a href="user?id={{.User.ID}}&filter=posts">{{.User.Username}}'s posts</a></h2>


{{if .Posts}} {{range .Posts}}
<content>
  <h2>Author: <a href="user?id={{.User_id}}">{{ .Author }}</a></h2>
  <h2>Title: <a href="post?id={{.ID}}">{{ .Title }}</a></h2>
  <p>Content: {{ .Content }}</p>
  <p>Creation date: {{ .Date.Format "02 Jan 06 15:04" }}</p>
  <p>Tags: 
    {{if .Tags}}
    {{range .Tags}}
    <a href="/?sort=tags&tag={{ . }}">{{ . }}</a><span> </span>
    {{end}}
    {{else}}
    None... 
    {{end}}</p>
</content>
<!-- Post's likes -->
<div class="row">
  <form action="post/rate" method="post">
    <input type="text" name="post_id" hidden value="{{.ID}}" />
    <input type="text" name="comment_id" hidden value="0" />
    <input type="text" name="vote_type" value="1" hidden />
    <div class="" style="padding: 15px 0 0 47px">
      <button type="submit">
        {{if .IsLike}}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-heart-fill"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
          />
        </svg>
        {{ else}}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-heart"
          viewBox="0 0 16 16"
        >
          <path
            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
          />
        </svg>
        {{end}}
      </button>
      <div class="">{{.Likes}}</div>
    </div>
  </form>
  <form action="post/rate" method="post">
    <input type="text" name="post_id" hidden value="{{.ID}}" />
    <input type="text" name="comment_id" hidden value="0" />
    <input type="text" name="vote_type" value="-1" hidden />
    <div class="" style="padding: 15px 0 0 47px">
      <button type="submit">
        {{if .IsDislike}}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-heartbreak-fill"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8.931.586 7 3l1.5 4-2 3L8 15C22.534 5.396 13.757-2.21 8.931.586ZM7.358.77 5.5 3 7 7l-1.5 3 1.815 4.537C-6.533 4.96 2.685-2.467 7.358.77Z"
          />
        </svg>
        {{ else }}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-heartbreak"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8.867 14.41c13.308-9.322 4.79-16.563.064-13.824L7 3l1.5 4-2 3L8 15a38.094 38.094 0 0 0 .867-.59Zm-.303-1.01c6.164-4.4 6.91-7.982 6.22-9.921C14.031 1.37 11.447.42 9.587 1.368L8.136 3.18l1.3 3.468a1 1 0 0 1-.104.906l-1.739 2.608.971 3.237Zm-1.25 1.137a36.027 36.027 0 0 1-1.522-1.116C-5.077 4.97 1.842-1.472 6.454.293c.314.12.618.279.904.477L5.5 3 7 7l-1.5 3 1.815 4.537Zm-2.3-3.06C.895 7.797.597 4.875 1.308 3.248c.756-1.73 2.768-2.577 4.456-2.127L4.732 2.36a1 1 0 0 0-.168.991L5.91 6.943l-1.305 2.61a1 1 0 0 0-.034.818l.442 1.106Z"
          />
        </svg>
        {{end}}
      </button>
      <div class="">{{.Dislikes}}</div>
    </div>
  </form>
</div>
{{end}} {{ else }}
<p>Nothing!</p>
{{end}}
{{end}}
