{{template "base" .}} {{define "title"}}Sign up{{end}} {{define "main"}}
<form method="post">
  <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

  <!-- Email -->
  <div class="form-floating">
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      name="email"
      placeholder="name@example.com"
    />
    <label for="floatingInput">Email address</label>
  </div>

  <!-- Nickname -->
  <div class="form-floating">
    <input
      type="nickname"
      class="form-control"
      id="floatingInput"
      name="nickname"
      placeholder="nickname"
    />
    <label for="floatingPassword">Nickname</label>
  </div>

  <!-- Password -->
  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      pattern="^\S{6,}$"
      onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.confirm.pattern = this.value;"
      placeholder="Password"
      required
    />
    <label for="floatingPassword">Password</label>
  </div>

  <!-- Confirm password -->
  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="confirm"
      name="confirm"
      placeholder="Confirm password"
      required
    />
    <label for="floatingPassword">Confirm password</label>
  </div>

  {{if .IsError.Error}}
  <div>
    <label>{{.IsError.Text}}</label>
  </div>
  {{end}}

  <!-- <div class="checkbox mb-3">
    <label> <input type="checkbox" value="remember-me" /> Remember me </label>
  </div> -->
  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
</form>
{{end}}
