{{template "base" .}} {{define "title"}}Sign up{{end}} {{define "main"}}
<form method="post">
  <h1 class="h3 mb-3 fw-normal">Sign in form</h1>

  <div class="form-floating">
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      name="email"
      placeholder="name@example.com"
    />
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="floatingPassword"
      name="password"
    />
    <label for="floatingPassword">Password</label>
  </div>
  {{if .Error}}
  <div>
    <label>incorrect email or password</label>
  </div>
  {{end}}
  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
</form>
{{end}}
