{{template "base" .}} {{define "title"}}Sign up{{end}} {{define "main"}}
<form method="post">
  <h1 class="h3 mb-3 fw-normal">Sign in form</h1>

  <div class="form-floating">
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      name="email"
      placeholder="Email or username"
    />
    <label for="floatingInput">Email or username</label>
  </div>
  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="floatingPassword"
      name="password"
    />
    <label for="floatingPassword">Password</label>
  </div>
  {{if .IsError.Error}}
  <div>
    <label>{{.IsError.Text}}</label>
  </div>
  {{end}}
  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
</form>
{{end}}
